@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Journey Directions POC</h1>
</div>

<section class="search">
    <p>Searching from <strong>@Model.HomeLocation.Postcode</strong></p>
</section>

<section class="providers">

    @foreach (var provider in Model.Providers)
    {
        <article class="provider">
            <section class="provider-info">
                <header class="provider-info-header">
                    <h3>@provider.Name</h3>
                    <h4>POST CODE | Town</h4>
                    <h4>@provider.Postcode | @provider.Town</h4>
                </header>
                <div class="journey-info">
                    <div class="transport">
                        <img src="~/images/transport.png" alt="" />
                        <p class="transit-distance">1 mile</p>
                    </div>
                    <p class="transit-description">from the nearest bus stop</p>

                    <div class="transport">
                        <img src="~/images/subway.png" alt="" />
                        <span class="transit-distance">0.4 miles</span>
                    </div>
                    <p class="transit-description">from the nearest train station</p>
                </div>
            </section>

            <section class="journey-details">
                <details>
                    <summary>Journey details:</summary>
                    <ul>
                        <li>Point 1</li>
                        <li>Point 2</li>
                        <li>Point 3</li>
                    </ul>
                </details>
            </section>
        </article>
    }
</section>
